/*Some necessary adjustments*/
h1, body, html, main {
  margin: 0;
}
/*Import the font and set the default size*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}
body h1 {
    font-size: 4rem;
    color: black;
    padding-bottom: 50px;
    padding-left:200px 
}
.font-size{
  font-size: 3.4vh;
  text-align:justify;
  padding:200px 250px;
  line-height:normal;
  color:rgb(90, 89, 89)
}
#header {
  background-image: url(/french-soup/images/soup.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  height: 40vh;
  
  
}

.heading {
  font-size:10rem;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 200px;
  
}
.recipie-info{
 display: block;
 margin-left:800px ;
 margin-bottom: 50px;
}
.cooking-info {
  display: block;
  margin-left: 800px;
  margin-bottom: 50px;


}
hr {
  border:none;
  border-bottom: 2px solid black;
  width: 2000px;
  margin-bottom: 80px;
}


