html {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: white;
}

.header {
  background-image: url("../images/apple-pie.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
}
.section h1 {
  font-size: 3rem;
  color: black;
  margin-bottom: 50px;
}

.header h1 {
  font-size: 6rem;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 300px;
}
.section {
  font-size: 1.4rem;
  text-align: justify;
  margin-top: 100px;
  margin-left: 260px;
  margin-right: 250px;
  color: rgb(90, 89, 89);
  line-height: normal;
}
.section ul li {
  list-style-type: "- ";
}

.prep-logos {
  margin: auto;
  display: block;
  margin-top: 100px;
}

body hr {
  width: 100rem;
  border-top: 2px solid rgb(15, 15, 15);
}

#cooking-process {
  margin-bottom: 300px;
}

ol {
  counter-reset: list;
}
ol > li {
  list-style: none;
  position: relative;
}
ol > li:before {
  counter-increment: list;
  content: counter(list) ") ";
  position: absolute;
  left: -1.4em;
}
